body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.btn {
  color: #fff;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  background: #66bfbf;
  margin: 10px 20px;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}

.copyright {
  color: white;
  font-size: 0.75rem;
  padding: 20px 0;
}

.profile-pic {
  width: 15%;
}
